{% extends "layout.html" %}

{% block content %}
<style type="text/css">
        body{
            background-color: rgb(231, 226, 226);
            color: #222321;
        }
        .jumbotron {
        	background-color: rgb(231, 226, 226);
        }
    </style>
    <br><br><br><br><br>
<div class="jumbotron">
    <div class="typewriter">
    <h1 style="font-family: Arial, Helvetica, sans-serif"><b> IMAGE SECURITY </b></h1>
    <br></div>
    <p class="lead">Welcome to <b>AMENA</b>. We intend to protect your images from misuse and malpractices. In the encryption tab just upload your image along with your personal password and download the encrypted image to decrypt later. You can just decrypt the image afterwards using the decryption tab with your password.  	
    </p>
    
</div>
	<br><br><br><br><br><br><br>
{% endblock %}
